/* ---- MAIN PAGE ---- */

.announcement-wrapper {
    width: 90%;
    margin: 20px auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.top-bar h2 {
    font-size: 28px;
}

.add-btn {
    background: royalblue;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.add-btn:hover {
    background: #244fbd;
}

/* ---- ANNOUNCEMENT DISPLAY BOX ---- */

.announcement-box {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.announcement-card {
    padding: 15px;
    background: #f4f7ff;
    color: #1a237e;
    border-left: 5px solid royalblue;
    margin-bottom: 15px;
    border-radius: 6px;
}

.ann-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 6px;
}

.ann-details {
    font-size: 16px;
    margin-bottom: 10px;
}

.ann-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ann-date {
    font-size: 14px;
    color: gray;
}

.remove-btn {
    background: crimson;
    padding: 6px 12px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background: darkred;
}

.no-announcement {
    text-align: center;
    color: #777;
}


/* ---- POPUP FORM ---- */

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.2);
    z-index: 1000;
}

.popup-box {
    background: white;
    width: 500px;
    height: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.3);
}

.popup-box h3 {
    margin-bottom: 15px;
    color: blue;
}

.popup-box input,
.popup-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.popup-box textarea {
    resize: vertical;
    height: 100px;
}

.btn-row {
    display: flex;
    justify-content: space-between;
}

.submit-btn {
    background: royalblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #244fbd;
}

.cancel-btn {
    background: gray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #555;
}
