.menu-dropdown .dropdown-content {
    display: none;
    padding-left: 20px;
    flex-direction: column;
}

.menu-dropdown .dropdown-content a {
    font-size: 14px;
    padding: 6px 0;
    color: #555;
}

.menu-dropdown.active .dropdown-content {
    display: flex;
}

.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
