* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* ---------------------- */
/* General Page Styling   */
/* ---------------------- */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3f6fff, #6a8dff);
    font-family: "Poppins", sans-serif;
}

/* ---------------------- */
/* Login Box              */
/* ---------------------- */

.login_box {
    width: 380px;
    padding: 35px 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Title */
.login_title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 6px;
}

.login_subtitle {
    font-size: 15px;
    opacity: 0.85;
    margin-bottom: 20px;
}
.error_msg {
    color: #f20a0a;
    padding: 8px 12px;
    width: 80%;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
}

/* ---------------------- */
/* Input Fields           */
/* ---------------------- */

.login_box input,
.login_box select {
    width: 85%;
    padding: 12px 14px;
    margin: 14px 0;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    font-size: 15px;
    outline: none;
}

/* Placeholder color */
.login_box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


/* ---------------------- */
/* Input Group (eye icon) */
/* ---------------------- */

.input-group {
    width: 85%;
    margin: auto;
    position: relative;
}

.input-group input {
    width: 100%;
}

.toggle-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}


/* ---------------------- */
/* Button Styling         */
/* ---------------------- */

button {
    width: 85%;
    padding: 12px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #3f6fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #ececec;
}

/* ---------------------- */
/* Bottom Text            */
/* ---------------------- */

span {
    display: block;
    margin-top: 18px;
    font-size: 14px;
}

span a {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}
