{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/layout.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/principal_dashboard/principal.css' %}">
    {% block extra_css %} {% endblock%}

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>

<div class="dashboard-container">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h2 class="school-name">School Management</h2>

        <nav class="menu">

            <a href="#" class="menu-item">
                <i class='bx bxs-dashboard'></i> Dashboard
            </a>

            <a href="#" class="menu-item">
                <i class='bx bxs-user-detail'></i> Profile
            </a>

            {% block extra_menu %}
            {% endblock %}


            <a href="#" class="menu-item"><i class='bx bx-cog'></i> Settings</a>
        </nav>

        <a href="{% url 'login' %}" class="logout">
            <i class='bx bx-log-out'></i> Logout
        </a>
    </aside>

    <!-- MAIN SECTION -->
    <main class="main-content">

        <header class="topbar">
            <h2>{% block page_title %}{% endblock %}</h2>
        </header>

        <section class="content-section">
            {% block content %}
            {% endblock %}
        </section>

    </main>

</div>

<script src="{% static 'js/sidebar.js' %}"></script>

</body>
</html>
