/* MAIN WRAPPER */
.teachers-container {
    padding: 20px;
}

/* PAGE HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.page-header h2 {
    font-size: 24px;
    font-weight: 600;
}

/* TABLE STYLE */
.teachers-table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.teachers-table th {
    background: #4b6cb7;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

.teachers-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #1a237e;
}

/* STATUS BADGES */
.status {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}

.status.active {
    background: #28a745;   /* Green */
}

.status.inactive {
    background: #dc3545;   /* Red */
}

/* ACTION BUTTON */
.edit-btn {
    padding: 6px 12px;
    background: #4A90E2;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
    font-size: 12px;
}

.edit-btn:hover {
    background: #3A7ACB;
}
.add-btn{
    padding: 8px 16px;
    background: #375393;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}
.add-btn:hover {
    background: #384f83;
}


/* myclass student pop up to add student */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: rgba(75, 108, 183, 0.25);  /* bluish tint */
    backdrop-filter: blur(8px);
    padding: 20px;
    width: 500px;
    margin: 80px auto;
    border-radius: 10px;
    
    /* width: 90%;
    background: rgba(255, 255, 255, 0.15);       /* transparent white 
    backdrop-filter: blur(12px);                /* main blur effect 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    margin-top: 20px; */
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.save-btn{
    padding: 8px 16px;
    background: #213156;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    border: none;
}
.save-btn:hover {
    background: #384f83;
}
.btn-delete {
    padding: 8px 16px;
    background: #dc3545;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    border: none;
}