.button-group {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.dashboard-btn {
    padding: 14px 24px;
    background: #4b6cb7;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.dashboard-btn:hover {
    background: #395591;
}

.year {
    font-size: 16px;
    font-weight: 400;
    color: #555;
}
