{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/principal_dashboard/principal.css' %}?v=4">
<link rel="stylesheet" href="{% static 'css/principal_dashboard/all_teachers.css' %}">
<link rel="stylesheet" href="{% static 'css/principal_dashboard/add_teachers.css' %}">
{% endblock %}

{% block extra_menu %}

<!-- TEACHERS -->
<div class="menu-dropdown">
    <a class="menu-item dropdown-btn">
        <i class='bx bx-chalkboard'></i> Teachers
        <i class='bx bx-chevron-down dropdown-icon'></i>
    </a>
    <div class="dropdown-content">
        <a href="{% url 'all_teachers' %}">All Teachers</a>
        <a href="{% url 'add_teacher' %}">Add Teacher</a>
    </div>
</div>

<!-- CLASSES -->
<div class="menu-dropdown">
    <a class="menu-item dropdown-btn">
        <i class='bx bxs-book-alt'></i> Classes
        <i class='bx bx-chevron-down dropdown-icon'></i>
    </a>
    <div class="dropdown-content">
        <a href="{% url 'all_classes' %}">All Classes</a>
        <a href="{% url 'add_class' %}">Add Class</a>
    </div>
</div>

<!-- STUDENTS -->
<div class="menu-dropdown">
    <a class="menu-item dropdown-btn">
        <i class='bx bxs-group'></i> Students
        <i class='bx bx-chevron-down dropdown-icon'></i>
    </a>
    <div class="dropdown-content">
        <a href="#">All Students</a>
        <a href="#">Add Student</a>
    </div>
</div>

<!-- ANNOUNCEMENTS -->
<a href="{% url 'principal_announcements' %}" class="menu-item">
    <i class='bx bxs-megaphone'></i>Announcements
</a>

{% endblock %}

{% block page_title %}Principal Dashboard{% endblock %}

{% block content %}
<h3 class="principal-title">Welcome Principal</h3>
{% endblock %}
