{% extends "principal/principal.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/principal_dashboard/add_teacher.css' %}?v=2"> 
{% endblock %}

{% block content %}
<div class="teachers-container">

    <div class="page-header">
        <h2>Add Class</h2>
    </div>

    {% if messages %}
        {% for message in messages %}
            <p class="error_msg">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" class="teacher-form">
        {% csrf_token %}

        <div class="form-grid">

            <div class="form-group">
                <label for="class_name">Class Name</label>
                <input type="text" id="class_name" name="class_name" placeholder="e.g., 8A" required>
            </div>

            <div class="form-group">
                <label for="class_teacher_id">Class Teacher</label>
                <input type="text" id="class_teacher" name="class_teacher" placeholder="Enter teacher name" required>
            </div>

            <div class="form-group">
                <label for="class_teacher">Teacher Id</label>
                <input type="text" id="class_teacher_id" name="class_teacher_id" placeholder="Enter teacher name" required>
            </div>

            <div class="form-group">
                <label for="year">Academic Year</label>
                <input type="text" id="year" name="year" placeholder="e.g., 2024-25" required>
            </div>

            <div class="form-group">
                <label for="strength">Total Students</label>
                <input type="number" id="strength" name="strength" placeholder="Enter number of students" required>
            </div>

            <!-- <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" required>
                    <option value="" disabled selected>Select status</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div> -->

        </div>

        <div class="form-btn">
            <button type="submit" class="submit-btn">Add Class</button>
        </div>

    </form>

</div>
{% endblock %}
