{% extends "teacher/teacher.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/teacher_dashboard/my_class.css' %}?v=3">
{% endblock %}


{% block content %}
<div class="teachers-container">

    <!-- HEADER -->
    <div class="page-header">
        <h2>
            {{ assignment.class_obj.class_name }}
            ({{ assignment.academic_year }}) – Students
        </h2>

        {% if assignment.is_class_teacher %}
            <a href="#" class="add-btn" onclick="openModal()">+ Add Student</a>
            <a href="#" class="add-btn" onclick="openFetch()">Edit/Delete</a>
        {% endif %}
    </div>

    <!-- TABLE -->
    <table class="teachers-table">
        <thead>
            <tr>
                <th>Admission No</th>
                <th>Roll No</th>
                <th>Name</th>

                {% if assignment.is_class_teacher %}
                    <th>Father Name</th>
                    <th>Mother Name</th>
                    <th>Phone</th>
                {% endif %}

                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.admission_no }}</td>
                <td>{{ s.roll_no }}</td>
                <td>{{ s.name }}</td>

                {% if assignment.is_class_teacher %}
                    <td>{{ s.father_name }}</td>
                    <td>{{ s.mother_name }}</td>
                    <td>{{ s.phone_no }}</td>
                {% endif %}

               <td {% if s.status == 'inactive' %} style="color: red;" {% endif %}>{{ s.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No students found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


<!-- ADD STUDENT MODAL -->
<div id="studentModal" class="modal">
    <div class="modal-content">
        <h3>Add Student</h3>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="add-student">
            <input type="text" name="admission_no" placeholder="Admission No" required>
            <input type="number" name="roll_no" placeholder="Roll No" required>
            <input type="text" name="name" placeholder="Student Name" required>
            <input type="text" name="father_name" placeholder="Father Name">
            <input type="text" name="mother_name" placeholder="Mother Name">
            <input type="text" name="phone_no" placeholder="Phone No">
            <select name="status" placeholder="status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>

            <div class="modal-actions">
                <button type="submit" class="save-btn">Save</button>
                <button type="button" class="btn-delete" onclick="closeModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>


<!-- fetch box..to type the admission no. to fetch details -->
<!-- FETCH STUDENT MODAL -->
<div id="fetchbox" class="modal">
    <div class="modal-content">
        <h3>Edit / Delete Student Data</h3>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="fetch-student">

            <!-- FETCH SECTION -->
            <div id="fetchSection">
                <input type="text" name="admission_no" placeholder="Admission No" required >
                <div class="modal-actions">
                    <button type="submit" class="save-btn">Fetch</button>
                    <button type="button" class="btn-delete" onclick="closeFetch()">Cancel</button>
                </div>
            </div>

            <!-- EDIT / DELETE SECTION (hidden initially) -->
            <div id="editDeleteSection" style="display: none;">
                <hr>

                <input type="text" name="name" placeholder="Student Name">
                <input type="number" name="roll_no" placeholder="Roll No">
                <input type="text" name="father_name" placeholder="Father Name">
                <input type="text" name="mother_name" placeholder="Mother Name">
                <input type="text" name="phone_no" placeholder="Phone No">
                <select name="status" placeholder="status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>

                <div class="modal-actions">
                    <button type="submit" class="save-btn">Edit</button>
                    <button type="button" class="btn-delete">Delete</button>
                </div>
            </div>

        </form>
    </div>
</div>


<script>
    function openModal() {
        document.getElementById('studentModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('studentModal').style.display = 'none';
    }

    // fetch box(admission no. only)
    function openFetch(){
        document.getElementById('fetchbox').style.display = 'block';
    }
    function closeFetch(){
        document.getElementById('fetchbox').style.display = 'none';
    }
    // edit delete box
    function openEdDel(){
        document.getElementById('EditDelet').style.display = 'block';
    }
    function closeEdDel(){
        document.getElementById('EditDelet').style.display = 'none';
    }
</script>


{% endblock %}
