{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/teacher_dashboard/teacher.css' %}?v=1">
{% endblock %}


{% block extra_menu %}

<!-- my classes -->
<a href="#" class="menu-item">
    <i class='bx bxs-school'></i>My Classes
</a>

<a href="#" class="menu-item">
    <i class='bx bx-calendar-event'></i>My Timetable
</a>

<!-- ANNOUNCEMENTS -->
<a href="#" class="menu-item">
    <i class='bx bxs-megaphone'></i>Announcements
</a>

{% endblock %}


{% block page_title %}Teacher Dashboard{% endblock %}

{% block content %}
<h3 class="teacher-title">Welcome Teacher</h3>
{% endblock %}
